# Copy this file to ".env" (same folder) and fill in your real values.

#MQTT
Mqtt__Host=192.168.1.10
Mqtt__Port=1883
Mqtt__Username=
Mqtt__Password=
Mqtt__Topic=hydrolitics/#
Mqtt__ClientId=hydrolitics-api

#Influx .net side
InfluxDb__Host=http://influxdb:8086
InfluxDb__Token=apiv3_5f524592edf2caa45fddaba8488f9604cf309c4651dc5d49
InfluxDb__Database=hydrolitics



# InfluxDB
INFLUX_HOST=http://influxdb3:8181        
INFLUX_DATABASE=hydrolitics
INFLUX_TOKEN=                            # run: echo "apiv3_$(openssl rand -hex 24)"                    
INFLUX_EXPLORER_SECRET=                  # run: openssl rand -hex 32